# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BudgetPro.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore build output folders
bin/
obj/
# Ignore sensitive files
BudgetPro/Resources/Raw/budgetpro.json
